<!DOCTYPE html>

<html>
  <head>
    <style>
      body{
        background-color: rgba(51, 51, 51, 1);
        color:antiquewhite;
      }
    </style>
    <meta charset="utf-8">
    <title>Um Website</title>
  </head>
  <body>
    <h1>{{pageName}}</h1>
    <p>{{welcomeMessage}}</p>

    <footer>
      <p>
        Copyright {{currentYear}}
      </p>
    </footer>
  </body>
</html>