<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title>Um Website</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>