<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/app.css">
  <meta charset="utf-8">
  <title>Um Website</title>
</head>

<body>
  <h1>Voltamos logo</h1>
  <p>O site está em manuntenção.</p>

  {{> footer}}
</body>

</html>