<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/app.css">
  <meta charset="utf-8">
  <title>Um Website</title>
</head>

<body>
  {{> header}}
  <p>Meus projetos: <a href="http://github.com/dubonzi">Github</a></p>

  {{> footer}}
</body>

</html>